<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Run & Logs - Sherlock WebUI</title>
    <script src="/assets/js/socket.io.min.js"></script>
    <link rel="stylesheet" href="/assets/css/sherlock-run.css" />
  </head>
  <body>
    <h1>Sherlock Logs</h1>
    <p>
      <span id="session-id">Loading session ID...</span> <br />
      <span id="username">Loading username...</span>
    </p>
    <div id="logs">Waiting for logs...</div>
    <script>
      const sessionId = "{{ session_id }}";
      const username = "{{ username }}";
    </script>
    <script src="/assets/js/sherlock-run.js"></script>
  </body>
</html>
