<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error 500 - Sherlock WebUI</title>
    <link rel="stylesheet" href="/assets/css/sherlock-main.css" />
  </head>
  <body>
    <div id="error-500" class="container" style="display: none">
      <h1>500</h1>
      <p>Oops! Something went wrong on our end. Please try again later.</p>
      <a href="/sherlock">Go Back Home</a>
    </div>
  </body>
</html>
